WebContent/wsdl/ProductCatalog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dao" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dao" xmlns:intf="http://dao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://dao" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="retrieveById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveByIdResponse">
    <complexType>
     <sequence>
      <element name="retrieveByIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="retrieveByIdResponse">

      <wsdl:part element="impl:retrieveByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveByIdRequest">

      <wsdl:part element="impl:retrieveById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductCatalog">

      <wsdl:operation name="retrieveById">

         <wsdl:input message="impl:retrieveByIdRequest" name="retrieveByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveByIdResponse" name="retrieveByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductCatalogSoapBinding" type="impl:ProductCatalog">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="retrieveById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductCatalogService">

      <wsdl:port binding="impl:ProductCatalogSoapBinding" name="ProductCatalog">

         <wsdlsoap:address location="http://localhost:8080/BookStore/services/ProductCatalog"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
